@charset "UTF-8";

body {
    background-color: #F6E8EA;
    font-family: Arial, Helvetica, sans-serif;
}

main {
    
}

main > header {
    width: 90%;
    height: 60px;
    margin: auto;
    padding: 10px;
    background-color: #EF626C;
    text-align: center;
    border-radius: 19px;
}

.titulo {
    color: #22181C;
    font-size: 25px;
}

.subtitulo {
    color: #22181C;
    font-size: 20px;
}
